.icon-expand {
	filter: drop-shadow(0 0 2em #5900ff);
}

.icon-expand:hover {
	filter: drop-shadow(0 0 2em #ddff00);
	cursor: pointer;
}

.icon-expand img {
	transform-origin: center;
	backface-visibility: hidden;
}

.icon-expand.animate img {
	animation: barrel-roll 0.5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

@keyframes barrel-roll {
	0% {
		transform: perspective(600px) rotateY(0deg) rotateZ(0deg);
	}
	25% {
		transform: perspective(600px) rotateY(15deg) rotateZ(90deg);
	}
	25% {
		transform: perspective(600px) rotateY(15deg) rotateZ(90deg);
	}
	50% {
		transform: perspective(600px) rotateY(0deg) rotateZ(180deg);
	}
	75% {
		transform: perspective(600px) rotateY(-15deg) rotateZ(270deg);
	}
	100% {
		transform: perspective(600px) rotateY(0deg) rotateZ(360deg);
	}
}
